services:
  nginx:
    ports: !reset
      - ${NGINX_PORT}:80
    labels: 
      - traefik.enable=true
      - traefik.http.services.${NETWORK_NAME}.loadbalancer.server.port=80
      - traefik.http.routers.${NETWORK_NAME}.rule=Host(`${DOMAIN}.w1vern.space`)
      - traefik.http.routers.${NETWORK_NAME}.entrypoints=https
      - traefik.http.routers.${NETWORK_NAME}.tls.certresolver=letsEncrypt
    networks:
      default:
      traefik_external_network:


networks:
  traefik_external_network:
    external: true